html {
	/*
Create a new file called "main.css"*
Add a link element to the head of your index.html file*
<link rel="stylesheet" href="main.css" type="text/css">*
Edit the main.css file*
add a declaration for each element in the body of your index.html file.*
add properties to style the background color of each element.*
add properties to style the border of each element.*
add properties to style the font and text of each element.*
Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.*
Use at least 4 different units to set sizes of various aspects of your webpage.*
Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.*
View your index.html in the development server.*
Validate your index.html file.*
Validate your main.css file. *
Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.*
Upload to the production server with sftp.*
View your index.html in the production server.*
*/
/*
background-image
background-color
color
font-size
font-family
word-spacing 
letter-spacing
background
border-bottom-style
text-transform
height
text-shadow
text-decoration
text-indent
position
right
max-width
opacity
box-shadow
padding
outline
*/
/*
	I asked people around me for some help to come up with ideas. The most interesting properties I learned from my classmates were the background linear gradient, and the text shadow. 
*/
	
	background-image:url("http://www.wallpapereast.com/static/images/HD-Wallpapers-89_rElkAPy.jpg");
	background-color: #B0E0E6;		
}
h1 { 
	color: #7B68EE; 
	font-size: 50px; 
	font-family: Comic Sans MS;
	word-spacing:20px; 
	letter-spacing: 2px; 
	text-transform:uppercase;
	background-color:#FF69B4; 
	background:linear-gradient(#C71585,#7B68EE);
	border-width: 10px; 
	border-right: #FFB6C1;
	border-right-width:9px;
	border-left: #FFB6C1;
	border-left-width:9px;
	border-style: solid; 
	border-left-style:dotted;
	border-right-style: dotted;
	border-top:white;
	border-top-width:12px;
	border-top-style:solid;
	border-bottom:white;
	border-bottom-width: 10px; 
	border-bottom-style: solid; 
	height: 80px; 
	width: 900px; 
	position: relative;
	right: -300px;
	
}	
h2 {
	color: #87CEFA; 
	font-size: 30px; 
	font-family: Comic Sans MS;
	text-shadow:3px 3px #6495ED;
	text-decoration:underline; 
	text-indent: 20px;
	position: relative; 
	right: -600px; 
	letter-spacing: 4px; 
	max-width: 200px; 
	background-color: #9370DB;
	background: linear-gradient(#DDA0DD,white);
	border-width: 8px; 
	border-color:#40E0D0;
	border-style: dashed;
	border-right-width:4px;
	border-right-style:solid;
	border-left: 4px; 
	border-left-style:solid; 
	height: 50px;
}
p { 
	color: #483D8B; 
	font-size: 20px;
	font-family: Comic Sans MS;
	text-indent: 60px; 
	word-spacing: 7px;  
	background-color: #00BFFF;
	border: solid 3px; 
	border-color:#9400D3;
	border-style: double;
	opacity: 0.8; 
	box-shadow:10px 10px 5px #00CED1; 
	padding: 20px;
	outline: #FF1493 dotted thick;
} 

